@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$maincolor : #143E7F;
$blackcolor: #000;
$whitecolor: #fff;
$nanumfont: 'NanumSquareNeo-Variable';


.jjy_nav_bg {

    background-color: transparent;
    transition: 0.3s;

    &.actbg {
        background-color: $maincolor;

        a {
            color: $whitecolor;
        }

        .logo0 {
            display: block;

        }

        .logo1 {
            display: none;

        }

    }

    a {
        color: $blackcolor;
        font-family: $nanumfont;

    }


}

nav {

    .jjy_h1 {
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;
        z-index: 10000;
        bottom: 0;

        display: flex;
        align-items: center;
        margin-bottom: 0;

        .logo0 {
            display: none;

        }



        img {
            width: 18vw;
            display: block;
        }

    }

    .nav-link:after {
        display: none !important;
    }

    .jjy_toggle {
        background-color: transparent !important;
    }

    .navbar-nav {



        @media (max-width:990px) {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            background-color: $maincolor;
        }

        .nav-item {
            &:hover {
                z-index: 10000;
            }
        }


        &:hover {
            // 네비전체

            .jjy_ul_dropd {

                @media (min-width:991px) {
                    & {

                        height: 180px;

                    }
                }
            }

        }

        @media (min-width:991px) {
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                height: 0;
                overflow: hidden;
                padding: 0;
                border: 0;
                transition: 0.5s;
                background-color: rgba(255, 255, 255, 1);
                border-top: 0;
            }

            &:hover:after {
                border: 1px solid #ccc;
                height: 170px;
            }
        }

        .jjy_ul_dropd {
            left: 0;

            .jjy_dropli {
                &:nth-child(1) {
                    margin-top: 0.5rem;
                }


                padding: 0.5rem 0;
                margin-left: 1.8rem;
                margin-right: 1rem;

                a {
                    color: $blackcolor;
                    background-color: transparent;
                    margin-left: 0;
                    margin-right: 3rem;
                    padding-left: 0;

                    &:hover {
                        color: $maincolor;
                    }

                }
            }

            @media (min-width:991px) {
                & {
                    display: block !important;
                    height: 0;
                    overflow: hidden;
                    padding: 0;
                    border: 0;
                    transition: 0.5s;
                    background-color: transparent !important;
                }
            }
        }
    }


}




//footer
footer {
    h2 {}

    span {
        font-size: 20px;
        margin: 30px 0;
    }

    p {
        font-size: 15px;
        line-height: 1.5;
    }
}