@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.jjy_nav_bg {

    background-color: #143E7F !important;

    a {
        color: white;
        font-family: 'NanumSquareNeo-Variable' !important;
    }

}

nav {

    .jjy_h1 {
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;
        z-index: 10000;
        bottom: 0;

        display: flex;
        align-items: center;
        margin-bottom: 0;

        img {
            width: 18vw;
            display: block;
        }

    }

    .nav-link:after {
        display: none !important;
    }



    .jjy_toggle {
        background-color: transparent !important;
    }

    .navbar-nav {
        &:hover {
            .jjy_ul_dropd {


                @media (min-width:991px) {
                    & {

                        height: 180px;

                    }
                }
            }

        }

        .jjy_ul_dropd {
            a {
                color: black;

                &:hover {
                    color: #143E7F;
                }

            }

            @media (min-width:991px) {
                & {
                    display: block;
                    height: 0;
                    overflow: hidden;
                    padding: 0;
                    border: 0;
                    transition: 0.5s;
                }
            }
        }
    }

    .jjy_ul2 {
        // position: absolute;
    }
}




//footer
footer {
    h2 {}

    span {
        font-size: 20px;
        margin: 30px 0;
    }

    p {
        font-size: 15px;
        line-height: 1.5;
    }
}